<div class="container">
    <div class="row mt-4">
        <div class="col-lg-4">
            <div class="card-vertical-govco">
                <div class="card-vertical-govco__img">
                    <a href="{{ path('entity.node.canonical', {'node': 3}) }}" target="_blank">
                        <img src="{{ base_path ~ directory }}/assets/dist/files/liderazgo.jpg" alt="Liderazgo Estratégico" />
                    </a>
                </div>
                <div class="card-vertical-govco__body">
                    <h3 class="card-vertical-govco__title">
                        <a href="{{ path('entity.node.canonical', {'node': 3}) }}" target="_blank">Liderazgo Estratégico</a>
                    </h3>
                    <p class="card-vertical-govco__description">
                        I'm baby kitsch subway tile whatever wayfarers tote bag, skateboard taiyaki.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card-vertical-govco">
                <div class="card-vertical-govco__img">
                    <a href="{{ path('entity.node.canonical', {'node': 4}) }}" target="_blank">
                        <img src="{{ base_path ~ directory }}/assets/dist/files/enfoque-prevencion.jpg" alt="Enfoque hacia la prevención" />
                    </a>
                </div>
                <div class="card-vertical-govco__body">
                    <h3 class="card-vertical-govco__title">
                        <a href="{{ path('entity.node.canonical', {'node': 4}) }}" target="_blank">
                            Enfoque hacia la prevención
                        </a>
                    </h3>
                    <p class="card-vertical-govco__description">
                        I'm baby kitsch subway tile whatever wayfarers tote bag, skateboard taiyaki.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
             <div class="card-vertical-govco">
                <div class="card-vertical-govco__img">
                    <a href="{{ path('entity.node.canonical', {'node': 5}) }}" target="_blank">
                        <img src="{{ base_path ~ directory }}/assets/dist/files/evaluacion-gestion-riesgo.jpg" alt="Evaluación de la gestión del riesgo" />
                    </a>
                </div>
                <div class="card-vertical-govco__body">
                    <h3 class="card-vertical-govco__title">
                        <a href="{{ path('entity.node.canonical', {'node': 5}) }}" target="_blank">
                            Evaluación de la gestión del riesgo
                        </a>
                    </h3>
                    <p class="card-vertical-govco__description">
                        I'm baby kitsch subway tile whatever wayfarers tote bag, skateboard taiyaki.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-lg-4 offset-lg-2">
             <div class="card-vertical-govco">
                <div class="card-vertical-govco__img">
                    <a href="{{ path('entity.node.canonical', {'node': 6}) }}" target="_blank">
                        <img src="{{ base_path ~ directory }}/assets/dist/files/relacion-entes-externos.jpg" alt="Relación con entes externos de control" />
                    </a>
                </div>
                <div class="card-vertical-govco__body">
                    <h3 class="card-vertical-govco__title">
                        <a href="{{ path('entity.node.canonical', {'node': 6}) }}" target="_blank">
                            Relación con entes externos de control
                        </a>
                    </h3>
                    <p class="card-vertical-govco__description">
                        I'm baby kitsch subway tile whatever wayfarers tote bag, skateboard taiyaki.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
             <div class="card-vertical-govco">
                <div class="card-vertical-govco__img">
                    <a href="{{ path('entity.node.canonical', {'node': 7}) }}" target="_blank">
                        <img src="{{ base_path ~ directory }}/assets/dist/files/evaluacion-seguimiento.jpg" alt="Evaluación de la gestión del riesgo" />
                    </a>
                </div>
                <div class="card-vertical-govco__body">
                    <h3 class="card-vertical-govco__title">
                        <a href="{{ path('entity.node.canonical', {'node': 7}) }}" target="_blank">
                            Evaluación y Seguimiento
                        </a>
                    </h3>
                    <p class="card-vertical-govco__description">
                        I'm baby kitsch subway tile whatever wayfarers tote bag, skateboard taiyaki. I'm baby kitsch subway tile whatever wayfarers tote bag, skateboard taiyaki.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>